<div id="article" class="paper container margin-bottom-large">
  <%# Change backticks back into double quotes; see _next_article_hidden_inputs.erb %>
  <h2><%= title.gsub('``', '"') %></h2>
  <p><em><%= description.gsub('``', '"') %></em></p>
  <p class="truncate"><%= link_to url.gsub('``', '"'), url.gsub('``', '"'), target: "_blank" %></p>
  <p><%= extract.gsub('``', '"') %></p>

  <% unless thumbnail_source.nil? %>
    <img src="<%= thumbnail_source.gsub('``', '"') %>">
  <% end %>
</div>
