<div class="paper container margin-bottom-large">
  <h2><%= title %></h2>
  <p><em><%= description %></em></p>
  <p><%= link_to url, url, target: "_blank" %></p>
  <p><%= extract %></p>

  <% unless thumbnail_source.nil? %>
    <img src="<%= thumbnail_source %>">
  <% end %>
</div>
