<div class="next-article">
  <input type="hidden" name="next_article_<%= id %>_title" value="<%= article['title'] %>" />
  <input type="hidden" name="next_article_<%= id %>_description" value="<%= article['description'] %>" />
  <input type="hidden" name="next_article_<%= id %>_url" value="<%= article['url'] %>" />
  <input type="hidden" name="next_article_<%= id %>_extract" value="<%= article['extract'] %>" />
  <input type="hidden" name="next_article_<%= id %>_thumbnail_source" value="<%= article['thumbnail_source'] %>" />
  <input type="hidden" name="next_article_<%= id %>_categories" value="<%= article['categories'].to_json.gsub('"', '``') %>" />
</div>
