<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head" %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <%# render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <div class="paper container margin-top-large margin-bottom-large">
      <div class="alert alert-primary margin-top-small">
        This is a work in progress! Please check back in a few days. –Felipe, 8/26/2023
      </div>
      <main>
        <%= yield %>
      </main>
    </div>

    <%= render "footer" %>
  </body>
</html>
